<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Testaufgabe</mat-card-title>
        <mat-card-subtitle>Kunz Nico</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="img" src="../../../assets/domebaPicture.png" alt="domeba-logo">
    <mat-card-content>
        <h3>Kurze Zusammenfassung meiner Arbeit und kleine Einschätzung meinerseits</h3>
        <p>
            Allgemein kann ich sagen, dass das gesamte Thema größtenteils neu für mich ist. Bis auf die Grundlagen
            musste ich mir alles selber erarbeiten.
            Ich kann aber direkt sagen, dass mir diese Aufgabe sehr viel Spaß gemacht hat und ich auch vieles Neues
            gelernt habe. <br>
            Es ist jedoch klar, dass ich noch sehr viel zu verbessern habe und ich mir noch einiges an praktischem aber
            auch an theoretischem Wissen
            aneignen muss. <br><br>
            Für diese Aufgabe habe ich sehr viel mit Tutorials gearbeitet und habe insgesamt die beiden Wochenenden dran
            gesessen.
            Also so um die 25-30h habe ich bestimmt an der Aufgabe gearbeitet. Davon waren 10-15h ungefähr nur Recherche
            und
            Einarbeiten. <br><br>
            <i>Sicherlich habe ich das auch in die Email geschrieben, aber</i> ich habe SQL Server 2022 Express als
            Datenbank genutzt. Da ich nicht weiß, wie ich meine Datenbank damit online stellen kann, sodass andere auf
            diese zugreifen können, habe ich nochmals
            eine Verbindung zu einer SQLite-Datenbank in meinem Backend erstellt. Diese sollte funktionieren, wenn die
            SQL-Server-Express-Datenbank nicht gefunden werden kann. Ich hoffe, dass geht in Ordnung. <br><br>
            Ansonsten hoffe ich, dass ich Ihnen meinen derzeitigen Stand in diesem Themenbereich und Aufgabenstellung
            zeigen konnte, sodass Sie einen guten Eindruck über meine Fähigkeiten bekommen können. Ich hoffe, Sie sind
            mit dem Ergebnis zufrieden und könnten sich vorstellen, mich in Ihrem Team aufzunehmen. <br> Ich hätte auf jeden
            Fall Lust, bei <i>domeba</i> zu arbeiten. Diese Testaufgabe hat mir gezeigt, wie viele Möglichkeiten und
            verschiedene Seiten es bei der Software-/Webentwicklung gibt und dass mir diese Arbeit sehr viel Spaß macht.
            Zudem gefällt mir - wie bereits in unserem ersten Gespräch erwähnt - vor allem Ihre
            Unternehmensphilosophie und Unternehmenskultur. 
        </p>
    </mat-card-content>
</mat-card>